* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body main {
	background-color: #506285ee;
	height: 100%;
	padding: 6px 5px;
	color: rgb(66 58 58);
	text-shadow: #fdff8f;
	text-shadow: 2px 1px #ffffffeb;
	font-family: 'Courgette', cursive;
	font-weight: 600;
	font-size: 20px;
}

span {
	/* this will apply to all of the snap tags  */
	color: rgb(61, 61, 61);
	font-weight: bold;
	padding: 2px 5px;
	margin: 2px;
	font-size: 14px;
	text-decoration: 1px double underline;
}

/* Flex properties for container */
.container {
	margin: 4px;
	padding: 3px;
	border-radius: 15px;
	display: flex;
	background-color: #fff;
	flex-wrap: wrap;
	height: auto;
}
.item {
	text-align: center;
	margin: 4px;
	padding: 5px 16px;
	border-radius: 3px;
	box-shadow: 2px 3px 5px rgb(128, 128, 128);
	cursor: pointer;
}

.container1 {
	/* Default value of flex direction is row  */
	flex-direction: row-reverse;
}
.item1 {
	background-color: #ffdefa;
}

.container2 {
	flex-direction: column-reverse;
}
.item2 {
	background-color: #a2d2ff;
}

.container3 {
	justify-content: center;
}
.item3 {
	background-color: #c9cbff;
}
.container4 {
	justify-content: space-between;
}
.item4 {
	background-color: #fcffa6;
}

.container5 {
	justify-content: space-evenly;
}
.item5 {
	background-color: #ffafaf;
}

.container6 {
	justify-content: space-around;
}
.item6 {
	background-color: #71dfe7;
}

.container7 {
	height: 80px;
	align-items: center;
}
.item7 {
	background-color: #ffc4e1;
}

.container8 {
	height: 70px;
	align-items: flex-end;
}
.item8 {
	background-color: #fcffa6;
}

.container9 {
	height: 70px;
	/* by default align-items are flex-start  */
	align-items: flex-start;
}
.item9 {
	background-color: #99feff;
}

.container10 {
	height: 79px;
	align-items: stretch;
}
.item10 {
	background-color: #94b3fd;
}

/* Flex properties for items */
.container11 {
	padding: 2%;
}
.item11 {
	background-color: #b4fe98;
}

#container11-sub1 {
	order: 2;
	flex-basis: 200px;
}
#container11-sub2 {
	flex-grow: 2;
}
#container11-sub3 {
	flex-shrink: 3;
	flex-grow: 3;
}

.container12 {
	height: 100px;
}
.item12 {
	background-color: #e4bad4;
}

#container12-sub1 {
	align-self: center;
}
#container12-sub2 {
	align-self: flex-end;
}
#container12-sub3 {
	align-self: flex-start;
}

footer,
a {
	background-color: #fff;
	font-size: 13px;
	text-align: center;
	margin: 0;
	padding: 6px 5px;
	text-decoration: none;
	color: gray;
	text-shadow: #fdff8f;
	text-shadow: 2px 1px #ffffffeb;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
}
